@import '../theme/adb-theme.css';

fieldset.register_products input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.register_products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

fieldset.register_products label span {
  border: 1px solid var(--cocoa);
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  margin: 5rem 0;
  position: inline-block;
  cursor: pointer;
  line-height: 1.8rem;
}
fieldset.register_products label span::selection {
  background-color: transparent;
  caret-color: transparent;
}

fieldset.register_products label input[type="checkbox"]:checked + span {
    background-color: var(--cafe_com_leite); /* Cor de fundo azul quando marcado */
    border-color: var(--cocoa);     /* Cor da borda também azul */
    color: var(--white);               /* Texto branco */
}
