@import '../theme/adb-theme.css';

.evaluation {
    display: flex;
    justify-content: space-evenly;
    border:none;
    padding: 4px 0;
}
.evaluation input[type="radio"] {
    display:none;
}
.evaluation svg {
    cursor: pointer;
    stroke: var(--cafe_com_leite);
    width: 32px;
    height: 32px;
}
.evaluation svg text {
  fill: var(--cocoa);
  stroke: var(--cocoa);
  font-weight: 100;
}
.evaluation .coffe {
    cursor: pointer;
    padding: 2px;
    transition: all .1s ease-in-out;
}
.evaluation .coffe {
    color: var(--cafe_com_leite);
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.evaluation line {
  display: none;
}
.evaluation line.smoke {
  display: inline;
}


.filled {
    fill: var(--cafe_com_leite);
}
