@import './theme/adb-theme.css';

a.carrinho {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}

a.carrinho svg {
  width: 24px;
  height: 24px;
  fill: var(--cocoa);
  transition: fill 0.5s ease-in-out;
}

a.carrinho:hover svg{
  fill: var(--cafe_com_leite);
}
