@import "./logo.css";
@import "./navbar.css";
@import "./theme/adb-theme.css";
@import "./footer.css";

/* ====================== GLOBAL ================================= */

body {
  color: var(--foreground);
  background-color: var(--background);
  caret-color: var(--cocoa);

  font-size: 16px;
  font-family: "Inter", sans-serif;
}

@media(max-width: 769px) {
  body {
    margin-bottom: 72px;
  }
}

h1 {
  text-align: center;
}
ul, ol {
  list-style: none;
}

@media(min-width: 768px){
  section {
    padding: 0 0 100px 0; 
    min-height: 80vh;
  }
}


section {
  padding-top: 50px;
}

dd {
  padding-bottom: 1rem;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}


/* ====================== CLASSES UTEIS ================================= */

.py-50 {
  padding: 50px 0;
}

.adb-border-cocoa {
  border: 1px solid var(--cocoa);
}


a.back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

a.text-pale-sand:visited,
a.text-pale-sand,
.text-pale-sand {
  color: var(--pale_sand);
}

.margin {
  margin: 1rem;
}

a.text-cocoa:visited,
a.text-cocoa,
.text-cocoa {
  color: var(--cocoa);
}

a.no-decoration {
  text-decoration: none;
}

a.hover-link {
  transition: color 0.5s ease-in-out;
}

a.hover-link:hover {
  color: var(--cafe_com_leite)
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.interface {
  padding: 0 25px;
}

.title-space {
  padding: 24px 0;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
a.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

a.w-full,
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
  padding: 1rem;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items:center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  flex-direction: column;
}

@media(min-width: 480px) and (max-width: 768px) {
  .interface {
    padding: 0 75px;
  }
}

@media(min-width: 769px) and (max-width: 1023px){
  .interface {
    padding: 0 125px;
  }
}

@media (min-width: 1024px) {
  .interface {
    max-width: 1280px;
    padding: 0 175px;
  }
}

/* ======================= Botoes ================================= */

.cocoa-btn {
  border: 2px solid var(--cocoa);
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
}

.cocoa-btn:hover {
  background-color: var(--cocoa);
}