/* ESTILOS PADARIA AROMA DE BROA */

/* ====================== ANTIALISED ================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ====================== VARIAVEIS ================================= */

:root {
  --cocoa: #412920ff;
  --cocoa_opacity: rgba(65, 41, 32, 0.7);
  --cafe_com_leite: #A9846A;
  --pale_sand: #FFECC6;
  --white: #f4f4f4;

  --foreground: var(--cocoa);
  --background: var(--pale_sand);

  /* breakpoints
  --bp-smartphones: 480px;
  --bp-tablet: 768px;
  --bp-laptops: 1279px;
  --bp-largeScreen: 1280px; 
  */

  --menuMobile: 72px;
}

/* ====================== GLOBAL ================================= */

body {
  color: var(--foreground);
  background-color: var(--background);
  caret-color: var(--cocoa);

  font-size: 16px;
}

@media(max-width: 768px) {
  body {
    margin-bottom: var(--menuMobile);
  }
}

h1 {
  text-align: center;
}
ul, ol {
  list-style: none;
}

@media(min-width: 768px){
  section {
    padding: 0 0 100px 0; 
    min-height: 80vh;
  }
}

div.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

section {
  padding-top: 50px;
}

dd {
  padding-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}



/* th, td {
  border: 1px solid var(--cocoa);
  padding: 10px;
} */

/* ====================== NAVBAR ================================= */


.header {
  /* background-color: var(--pale_sand) */
}

.navbar{
  display: flex;
  background-color: var(--pale_sand);
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-items {
  display: none;
}

.nav-item {
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--cocoa);
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  transition: color 0.3s ease-out;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .nav-itens {
    width: 100%;
    display: block;
  }
  .navbar {
    box-shadow: 2px 2px 10px 2px var(--cocoa), -2px 0 2px var(--cocoa);
  }
  .nav-link {
    padding: 1rem;
  }
  .nav-item {
    padding: 0.2rem;
  }
}

@media (min-width: 769px) {
  .header {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 99;
  }
  .header.scrooled {
    color: transparent;
  }

  .header.scrooled .navbar {
    box-shadow: 2px 2px 10px 2px var(--cocoa), -2px 0 2px var(--cocoa);
  }
  
  .navbar {
    max-width: 980px;
    caret-color: transparent;
  }
  
  
  .navbar .nav-items {
    display: flex;
    align-items: center;
  }
  
  
  .navbar .nav-link {
    font-size: 0.7rem;
  }
  .nav-item.active .nav-link {
    color: var(--cocoa);
  }
  
  .nav-link:hover {
    color: var(--cafe_com_leite);
  }
  .nav-item {
    position: relative;
  }
  .nav-item::after {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--cocoa);
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }
  
  .nav-item.active::after {
    width: 70%;
  }
}

/* ============================ MENU MOBILE ================================= */


@media(min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}
nav.mobileMenu {
  display: relative;
  position: fixed;
  bottom: -60px;
  height: var(--menuMobile);
  width: 100%;
  background-color: var(--pale_sand);
  box-shadow: 2px 0 10px 2px var(--cocoa), -2px 0 2px var(--cocoa);
  z-index: 99;
  transition: all 0.3s ease;
}
nav.mobileMenu ul.mobile-items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav.mobileMenu ul.mobile-items li.nav-item {
  width: 100%;
  padding: 0;
  border-right: 1px solid var(--cafe_com_leite);
  border-left: 1px solid var(--cafe_com_leite);
}
nav.mobileMenu ul.mobile-items li.nav-item:first-child {
  border-left: 0;
}
nav.mobileMenu ul.mobile-items li.nav-item:last-child {
  border-right: 0;
}

nav.mobileMenu ul.mobile-items li.nav-item a.nav-link {
  display: inline-block;
  padding: 1.8rem 1rem;
  font-size: 0.625rem;
  width: 100%;
  text-align: center;
}

.stuck-at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.mobileMenu.visible {
  bottom: 0; /* Move o menu para o topo da área visível */
}

/* =============================== CARRINHO ================================= */

.container_carrinho {
  display: flex;
}

.carrinho {
  width: 48px;
  height:48px;
  border-radius: 50%;
  background-color: var(--cocoa);
  background-image: url('../public/assets/images/icons/cesta_vazia.svg');
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.5s ease-in-out, background-image 0.5s ease-in-out;
  cursor: pointer;
}

.carrinho.items {
  background-image: url('../public/assets/images/icons/cesta.svg');
}

.carrinho:hover {
  background-color: var(--cafe_com_leite);
}

/* ====================== LOGO ================================= */

.logo {
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.logo img:hover {
  opacity: 0.8;
}


/* =================== CARROSSEL DE IMAGENS ========================= */

.carousel-container {
    position: relative;
    width: 100%;
}

.carousel-slide-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
    min-width: 100%;
    transition: transform 0.5s linear;
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}
.slides_identification {
  display: flex;
  position: absolute;
  width: 100px;
  justify-content: space-between;
  left: calc(50% - 50px);
  bottom: -20px;
  caret-color: transparent;
}
.slide_identification {
  /* cursor: pointer; */
  width: 10px;
  height: 10px;
  background-color: var(--cocoa_opacity);
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}
.slide_identification.active {
  background-color: var(--cocoa);
}

.prev-btn, .next-btn {
    position: absolute;
    caret-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--cocoa);
    color: var(--pale_sand);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
  opacity: 0.8;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}
/* ====================== ABOUT ================================= */

div.colunas .col2 figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(min-width: 769px){
  div.colunas {
    display: flex;
    justify-content: space-between;
  }
  div.colunas .col1,
  div.colunas .col2 {
    width: 50%;
  }
  div.colunas .col1{
    padding-right: 10px;
  }
  div.colunas .col2{
    padding-left:10px;
    display: flex;
    justify-content: center;
  }
  div.colunas .col2 figure img{
    height: 512px;
  }
}


/* ====================== FOOTER ================================= */

footer {
  min-height: 20vh;
  background-color: var(--cocoa);
  color: var(--pale_sand);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 480px){
  footer {
    flex-direction: column;
  }
}

footer a {
  text-decoration: none;
  color: var(--pale_sand);
  margin: 0 5px;
}

footer a:hover {
  color: var(--cafe_com_leite);
}


/* ====================== SEÇÃO PRESENTATION ================================= */

.presentation {
  padding: 50px 0;
}



/* ====================== UTEIS ================================= */

iframe.yt_video {
  width: 560px;
  height: 315px;
  border: 0;
}

a.text-pale-sand:visited,
a.text-pale-sand,
.text-pale-sand {
  color: var(--pale_sand);
}

.margin {
  margin: 1rem;
}

a.text-cocoa:visited,
a.text-cocoa,
.text-cocoa {
  color: var(--cocoa);
}

a.no-decoration {
  text-decoration: none;
}

a.hover-link {
  transition: color 0.5s ease-in-out;
}

a.hover-link:hover {
  color: var(--cafe_com_leite)
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.interface {
  padding: 0 25px;
}

.title-space {
  padding: 24px 0;
}

.bold {
  font-weight: bold;
}

.text-center,
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
a.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

a.w-full,
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
  padding: 1rem;
}

.h-full {
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 480px) and (max-width: 768px) {
  .interface {
    padding: 0 75px;
  }
}

@media(min-width: 769px) and (max-width: 1023px){
  .interface {
    padding: 0 125px;
  }
}

@media (min-width: 1024px) {
  .interface {
    max-width: 1280px;
    padding: 0 175px;
  }
}

/* ======================= Botoes ================================= */

.cocoa-btn {
  border: 2px solid var(--cocoa);
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
}

.cocoa-btn:hover {
  background-color: var(--cocoa);
}

/* ======================= CARDAPIO ================================= */

table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

thead tr:first-child {
  border-top: 2px solid var(--cocoa);
}

tr {
  display: grid;
  grid-template-areas:
  "type product"
  "description description"
  ". price";
  padding: 1rem 0.5rem;
  border-bottom: 2px dotted var(--cocoa);
  border-right: 2px solid var(--cocoa);
  border-left: 2px solid var(--cocoa);
}

tr:last-child {
  border-bottom: 2px solid var(--cocoa);
}

.type {
  grid-area: type;
  background-color: var(--cocoa);
  color: var(--cafe_com_leite);
  border-radius: 1rem;
  width: 100px;
}

.product {
  grid-area: product;
  font-weight: 900;
  text-align: center;
}

.description {
  grid-area: description;
  text-align: justify;
  color: var(--cafe_com_leite);
}

.price {
  grid-area: price;
  font-weight: 900;
  text-align: end;
}