.simple_card {
  max-width: 240px;
  text-align: center;
  padding: 1rem;
  height: calc(325px + 2rem);
}

.simple_card img {
  width: 200px;
  height: auto;
  margin: 1rem 0;
  text-align: center;
}

.diferenciais {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-items: center;
  gap: 1rem;
}